/**************************************

black: #161616;
red: #e01e3c;
white: #ffffff;

font-family: 'Nunito Sans', sans-serif;
font-family: 'Oswald', sans-serif;

**************************************/

/*******************
General styles
*******************/

h1, h2, h3, h4 {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 900;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 18px;
    font-weight: 900;
}
p {
    font-family: sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.button {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    background: #e01e3c;
    color: white;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 20px;
    margin: 15px;
}

.red-button {
    border: 2px solid #e01e3c;
    background: #e01e3c;
    color: white;
}

.light-button {
    border: 2px solid #999;
    background: transparent;
    color: #161616;
}

.dark-button {
    border: 2px solid #ffffff;
    background: #222;
    color: white;
}

.logo {
    background-image: url('../beats-assets/img/logo.svg');
    height: 40px;
    width: 40px;
    background-size: 40px;
}

/*************
Header styles
**************/

header {
    height: 80px;
    background: #161616;
    padding-top: 20px;
}

/***********
Desktop nav
***********/
.desktop-nav ul {
        float: right;
        margin-top: 10px;
        padding: 0;
        width: calc(100% - 60);
        text-align: center;
}

.desktop-nav li {
    display: inline-block;
    margin-left: 40px;
}

.desktop-nav a,
.desktop-nav a:visited {
    color: white;
}

.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active {
    opacity: 0.5;
    text-decoration: none;
    color: white;
}

.desktop-nav .logo {
    float: left;
}


/***********
Mobile nav
***********/
.mobile-nav {
    display: none;
    text-align: center;
}

.mobile-nav .logo {
    display: inline-block;
}

.mobile-nav .hamburger-container,
.mobile-nav .search-container {
    width: 40px;
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    margin-top: 4px;
}

.mobile-nav .logo-container {
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 80px);
}

.mobile-nav button {
    background: transparent;
    border: none;
    color: white;
}

@media (max-width: 768px) {
    .mobile-nav {
        display: block;
    }

    .desktop-nav {
        display: none;
    }
}

/***********
Hero Styles
***********/
.hero {
    height: calc(100vh - 80px);
    background-image: url('../beats-assets/img/hero-large.jpg');
    background-size: cover;
    width: 100%;
    text-align: center;
    background-position: center;
}

.hero-text-container {
    padding-top: 60vh;
}

.hero-text-container h1 {
    margin-bottom: 10px;
    font-size: 75px;
}

.hero-text-container p {
    margin-bottom: 70px;
    font-weight: 700;
}

.hero h1,
.hero p {
    color: white;
}

@media (max-width: 768px) {
    .hero {
        background-image: url('../beats-assets/img/hero-small.jpg');
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero p {
        font-size: 14px;
    }

    .hero-text-container p {
        margin-bottom: 35px;
    }
}
/**************
Product Lineup
**************/
.product-lineup-container {
    height: 400px;
    background: #999;
}

/*****************
Product container
*****************/
.featured-product-container {
    height: 400px;
    background: #666;
}

/***************
Product support
***************/
.product-support-container {
    height: 400px;
    background: #222;
}

/********************
Subscription section
********************/
.subscription-container {
    height: 400px;
    background: #777;
}

/******
Footer
******/
footer {
    height: 400px;
    background: white;
    padding: 80px 0;
}

footer a {
    color: #999;
    font-size: 0.9em;
    line-height: 2;
}

footer a:hover {
    color: #999;
    opacity: 0.5;
    text-decoration: none;
}

.social-link {
    display: inline-block;
    padding-right: 15px;
}


/*  */
